.dashboard-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="number"],
form input[type="Address"],
form select.options,
form select.country-code {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form div {
  display: flex;
  justify-content: space-between;
}

form div input[type="number"] {
  width: 75%;
}

form button[type="submit"],
.review-container button {
  padding: 10px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form button[type="submit"]:hover,
.review-container button:hover {
  background-color: #0056b3;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF5733;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #c4421d;
}

.review-container {
  text-align: left;
}

.review-container p {
  margin: 10px 0;
}

.review-container button {
  margin: 10px 5px;
}
